# Ignore everything by default
*

# But DO track .gitignore itself
!.gitignore

# Allow only these folders
!hyperledger/
!petadopt/

# Allow their contents
!hyperledger/**
!petadopt/**

# Explicitly exclude fabric-samples (external repo)
hyperledger/fabric-samples/

# Node / Fabric safety
node_modules/
wallet/
organizations/
crypto-config/
*.pem
*.key
.env
.vscode/
