@import "tailwindcss";


:root {
  --bg: #fff7fb;
  --card: #ffffff;
  --text: #1f2937;
  --muted: #6b7280;

  --brand: #ff5fa2;
  --brand-2: #7c3aed;
  --border: #f1d4e6;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg);
}
